---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { products } from '../data/products';
---

<Layout title="Inicio">
  <section class="inline-grid gap-5 mt-12 sm:grid-cols-3 lg:grid-cols-3">
    {products.map((product) => (
      <Card
        id={product.id}
        url={`/producto/${product.id}`}
        title={product.title}
        body={product.description}
        imgSrc={product.imgSrc}
        price={product.price}
        oldPrice={product.oldPrice}
      />
    ))}
  </section>
</Layout>